@use '../../../../../../../dist/mixins';
@use '../../../../../../../dist/variables.scss';
@use '../../../../../../../dist/reset.scss';

.titulo_bloco_formulario {
    @include mixins.textConfiguration(0.5rem 0 0 0, 0 0.5rem, 0.9rem, variables.$font-poppins, variables.$medium-white, 400);
}

hr {
    margin-bottom: 0.5rem;
}

.anexa_arquivo_container {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;

    .status_certificado {
        @include mixins.textConfiguration(0, 0, 0.7rem, variables.$font-poppins, variables.$dark-white, 400);

        p {
            margin: 0 0.3rem;
            color: variables.$warn;
        }

        &_presente {
            color: variables.$online-green !important;
        }
    }

    .limpar_file {
        @include mixins.textConfiguration(0 0 0.1rem 0, 0, 0.7rem, variables.$font-poppins, variables.$primary-color, 500);
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .anexa_arquivo_botao {
        @include mixins.centerContent();
        @include mixins.textConfiguration(0, 0.6rem 1rem, 0.9rem, variables.$font-poppins, variables.$primary-color, 500);
        background-color: transparent;
        border: 1px solid variables.$primary-color;
        cursor: pointer;
        border-radius: 3px;

        p {
            overflow: hidden;
        }

        .icone_ok {
            margin-left: 0.5rem;
        }

        &:focus {
            outline: none;
        }
    }
}