<form [formGroup]="dadosCadastrais" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <!-- INPUT GROUP NOME -->
    <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'inputNome'"
        [titulo]="'Nome completo'" [tabIndex]="1" [maxLength]="70" [touched]="false" [todosCaracteresMaiusculos]="true"
        [customIcon]="'null'" [disabledGroup]="false" [valido]="true" [mensagemErro]="'Campo obrigatório'"
        formControlName="nome" #inputNome></app-custom-input>

    <!-- INPUT GROUP E-MAIL -->
    <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'inputEmail'" [titulo]="'E-mail'"
        [tabIndex]="1" [maxLength]="70" [touched]="false" [todosCaracteresMaiusculos]="true" [customIcon]="'null'"
        [disabledGroup]="false" [valido]="true" [mensagemErro]="'Campo obrigatório'" formControlName="email"
        #inputEmail></app-custom-input>

    <!-- INPUT GROUP CPF -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'inputCpf'" [titulo]="'CPF'"
        [tabIndex]="1" [maxLength]="70" [touched]="false" [todosCaracteresMaiusculos]="true" [customIcon]="'null'"
        [disabledGroup]="false" [valido]="true" [mensagemErro]="'Campo obrigatório'" formControlName="cpf"
        #inputCpf></app-custom-input>

    <!-- INPUT GROUP DATA DE NASCIMENTO -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'inputDataNascimento'"
        [titulo]="'Data de nascimento'" [tabIndex]="1" [maxLength]="70" [touched]="false"
        [todosCaracteresMaiusculos]="true" [customIcon]="'null'" [disabledGroup]="false" [valido]="true"
        [mensagemErro]="'Campo obrigatório'" formControlName="dataNascimento" #inputDataNascimento></app-custom-input>

    <!-- INPUT GROUP SENHA -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'inputSenha'" [titulo]="'Senha'"
        [tabIndex]="2" [maxLength]="70" [touched]="false" [todosCaracteresMaiusculos]="true" [customIcon]="'null'"
        [disabledGroup]="false" [valido]="true" [mensagemErro]="'Campo obrigatório'" formControlName="senha"
        #inputSenha></app-custom-input>

    <!-- INPUT GROUP RE-SENHA -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'inputConfirmaSenha'"
        [titulo]="'Confirmar Senha'" [tabIndex]="1" [maxLength]="70" [touched]="false"
        [todosCaracteresMaiusculos]="true" [customIcon]="'null'" [disabledGroup]="false" [valido]="true"
        [mensagemErro]="'Campo obrigatório'" formControlName="confirmaSenha" #inputNome></app-custom-input>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form_button_container">
        <button class="botao_menu botao_inscrever">
            <a class="link_botao link_botao_cadastro">
                Voltar
            </a>
        </button>

        <button class="botao_menu botao_inscrever" mat-button matStepperNext>
            <a class="link_botao link_botao_cadastro">
                Avançar
            </a>
        </button>
    </div>

</form>