@import '../../../../../../dist/variables.scss';
@import '../../../../../../dist/reset.scss';
@import '../../../../../../dist/custom-stepper.scss';

.container {
    height: 100%;
    color: $dark-white;
}

.block_container {
    border-radius: 3px;
    height: 100%;
}

.block {
    height: auto;
    background-color: $light-black;
    border-radius: 3px;
    padding: 1rem;
}

.titulo_nova_empresa {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: $font-poppins;
    color: $medium-white;
    margin-bottom: 0.5rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.voltar {
    font-size: 0.8rem;
    color: $primary-color;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: $font-poppins;
}

.voltar:hover {
    transition: 0.3s;
    color: $primary-color-dark;
}

.titulo_bloco_formulario {
    padding: 0 0.5rem;
    font-size: 1rem;
    font-family: $font-poppins;
    color: $dark-white;
}

.form_button_container {
    padding: 0 0.5rem;
}

.botao_inscrever {
    border: 1px solid $primary-color;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    background-color: $primary-color;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.botao_inscrever:focus {
    outline: none;
    background-color: $primary-color;
}

.botao_inscrever:hover {
    background-color: $primary-color-dark;
}

.botao_inscrever_desabilitado {
    background-color: $medium-grey;
    border: 1px solid $medium-grey;
    color: $medium-black;
    cursor: default;
}

.botao_inscrever_desabilitado:hover {
    background-color: $medium-grey;
    border: 1px solid $medium-grey;
    color: $medium-black;
}