@use '../../../../../../dist/mixins';
@use '../../../../../../dist/variables.scss';
@use '../../../../../../dist/reset.scss';
@use '../../../../../../dist/components/custom-stepper.scss';

:host {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    color: variables.$dark-white;

    .block_container {
        border-radius: 3px;
        height: 100%;

        .titulo_nova_empresa {
            @include mixins.textConfiguration(0 0 0.5rem 0, 0, 1.3rem, variables.$font-poppins, variables.$medium-white, 500);
        }

        .voltar_clicavel {
            cursor: pointer;
            @include mixins.textConfiguration(0, 0, 0.8rem, variables.$font-poppins, variables.$primary-color !important, 500);

            &:hover {
                transition: 0.3s;
                color: variables.$primary-color-dark !important;
            }
        }

        .block {
            height: auto;
            background-color: variables.$light-black;
            border-radius: 3px;
            padding: 1rem;

            ::ng-deep .mat-horizontal-stepper-header-container {
                width: 50%;
                margin: 0 auto;
                margin-top: 1.5rem;
            }

            .form_button_container {
                padding: 0 0.5rem;
            }

            .botao {
                @include mixins.standartButton();
            }

            ::ng-deep mat-spinner {
                width: 20px !important;
                height: 20px !important;
            }

            ::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
                stroke: variables.$medium-black !important;
            }
        }

    }

}