<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_pesquisa">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_pesquisa">
            Bloco 1
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_listagem">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_listagem">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block_listagem">
                <h4 class="titulo_bloco">
                    Minhas empresas
                </h4>
                <button class="botao_cria_empresa mat-elevation-z1">
                    +
                </button>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_exibicao_empresas">

            </div>
        </div>
    </div>
</div>