@import '../../../../../dist/variables.scss';
@import '../../../../../dist/reset.scss';

.slider_container {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}

.checkbox {
    display: none;
}

.checkbox:focus {
    outline: none;
}

.switch {
    position: relative;
    background-color: #777;
    width: 2.3rem;
    height: 1rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.switch:focus {
    outline: none;
}

.slider {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .1s ease-in-out;
}

.slider_desabilitado {
    background-color: $dark-grey;
    border: 1px solid $dark-white;
}

.slider_title {
    color: $dark-white;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: $font-roboto;
    margin-left: 0.5rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.label_desabilitada {
    color: $dark-grey;
}

.checked~.switch {
    background-color: $primary-color;
}

.checked~.switch .slider {
    transform: translateX(1.1rem);
}

.titulo_bloco_formulario {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-family: $font-poppins;
    color: $medium-white;
    margin-top: 0.5rem;
    font-weight: 400;
}