@use '../../../../../dist/variables';
@use '../../../../../dist/mixins';
@use '../../../../../dist/reset';

.slider_container {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}

.checkbox {
    display: none;
}

.checkbox:focus {
    outline: none;
}

.switch {
    position: relative;
    background-color: #777;
    width: 2.3rem;
    height: 1rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.switch:focus {
    outline: none;
}

.slider {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .1s ease-in-out;
}

.slider_desabilitado {
    background-color: variables.$dark-grey;
    border: 1px solid variables.$dark-white;
}

.slider_title {
    @include mixins.textConfiguration(0 0 0 0.5rem, 0, 0.9rem, variables.$font-roboto, variables.$dark-white, 400);
    @include mixins.notSelectableContent();
}

.label_desabilitada {
    color: variables.$dark-grey;
}

.checked~.switch {
    background-color: variables.$primary-color;
}

.checked~.switch .slider {
    transform: translateX(1.1rem);
}

.titulo_bloco_formulario {
    @include mixins.textConfiguration(0.5rem 0 0 0, 0 0.5rem, 0.9rem, variables.$font-poppins, variables.$medium-white, 400);
}