@use '../../../../../../dist/mixins';
@use '../../../../../../dist/variables';
@use '../../../../../../dist/reset';
@use './scss/pesquisa';
@use './scss/listagem';

:host {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    color: variables.$dark-white;
}