<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container" [@fadeInOut]>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_pesquisa">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_pesquisa">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block cabecalho_block_pesquisa">
                <h4 class="titulo_bloco titulo_bloco_pesquisa">
                    Pesquisar empresas
                </h4>
            </div>

            <form [formGroup]="dadosPesquisa" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" [id]="'inputPesquisa'"
                    [informativoCampo]="'Este campo é obrigatório e deve conter no máximo 25 caracteres'"
                    [titulo]="'Pesquisa'" [tabIndex]="1" [maxLength]="25" [todosCaracteresMaiusculos]="false"
                    formControlName="pesquisa" [type]="'text'" [touched]="dadosPesquisa.controls['pesquisa'].touched"
                    [disabledGroup]="dadosPesquisa.controls['pesquisa'].disabled"
                    [errors]="dadosPesquisa.controls['pesquisa'].errors" [customIcon]="'search'"
                    [valido]="!(dadosPesquisa.controls['pesquisa'].touched && dadosPesquisa.controls['pesquisa'].invalid)"
                    #inputPesquisa></app-custom-input>

                <app-custom-select class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" formControlName="status"
                    [tabIndex]="5" [informativoCampo]="'Este campo é obrigatório'" [titulo]="'Status'" #inputStatus
                    [disabledGroup]="dadosPesquisa.controls['status'].disabled" [options]="geraOptionsStatus()"
                    [errors]="dadosPesquisa.controls['status'].errors" [id]="'status'"
                    [valido]="!(dadosPesquisa.controls['status'].touched && dadosPesquisa.controls['status'].invalid)">
                </app-custom-select>


                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao_pesquisa_container">
                    <button class="botao_pesquisa">
                        LIMPAR FILTROS
                    </button>

                    <button class="botao_pesquisa">
                        PESQUISAR
                    </button>
                </div>

            </form>

        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_listagem">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_listagem">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block cabecalho_block_listagem">
                <h4 class="titulo_bloco">
                    Minhas empresas
                </h4>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_opcoes_tabela">
                <button class="botao_cria_empresa">
                    ADICIONAR EMPRESA
                </button>
                <ul class="lista_paginacao">
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao">
                            < </p>
                    </li>
                    <li class="item_paginacao item_paginacao_ativo">
                        <p class="texto_paginacao">
                            1
                        </p>
                    </li>
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao">
                            >
                        </p>
                    </li>
                </ul>
            </div>

            <table class="table table-borderless table-hover">

                <thead>

                    <tr>

                        <th class="align-middle">
                            Nome
                        </th>

                        <th scope="col" class="align-middle">
                            Nome Fantasia
                        </th>

                        <th scope="col" class="align-middle">
                            CPF/CNPJ
                        </th>

                        <th scope="col" class="align-middle">
                            Status
                        </th>

                        <th scope="col" class="align-middle">
                            Certificado
                        </th>

                        <th scope="col" class="align-middle">
                        </th>

                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td class="align-middle">
                            <span>
                                G H A C Lagrotas Som e Acessórios
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                Lagrota's Som
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                30.409.483/0001-94
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                Ativo
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                Válido
                            </span>
                        </td>

                        <th scope="row" class="content_acoes align-middle">
                            <div class="icon_container">
                                <mat-icon fontIcon="more_vert"
                                    class="icone icone_tabela icone_tabela_remove dropdown dropleft float-right"
                                    data-toggle="dropdown"></mat-icon>
                                <div class="dropdown-menu">
                                    <a class="row dropdown-item">
                                        <mat-icon fontIcon="info" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            Detalhes
                                        </div>
                                    </a>
                                    <a class="dropdown-item">
                                        <mat-icon fontIcon="settings" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            Editar
                                        </div>
                                    </a>

                                    <a class="dropdown-item dropdown-item-excluir">
                                        <mat-icon fontIcon="delete" class="option_icon option_icon-excluir"></mat-icon>
                                        <div class="dropdown-item-text dropdown-item-text-excluir">
                                            Excluir
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </th>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>