<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container" [@fadeInOut]>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_pesquisa">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_pesquisa">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block cabecalho_block_pesquisa">
                <h4 class="titulo_bloco titulo_bloco_pesquisa">
                    Pesquisar empresas
                </h4>
            </div>

            <form [formGroup]="dadosPesquisa" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" [id]="'inputPesquisa'"
                    [informativoCampo]="'Este campo é obrigatório e deve conter no máximo 25 caracteres'"
                    [titulo]="'Pesquisa'" [tabIndex]="1" [maxLength]="25" [todosCaracteresMaiusculos]="false"
                    formControlName="pesquisa" [type]="'text'" [touched]="dadosPesquisa.controls['pesquisa'].touched"
                    [disabledGroup]="dadosPesquisa.controls['pesquisa'].disabled"
                    [errors]="dadosPesquisa.controls['pesquisa'].errors" [customIcon]="'search'"
                    [valido]="!(dadosPesquisa.controls['pesquisa'].touched && dadosPesquisa.controls['pesquisa'].invalid)"
                    #inputPesquisa></app-custom-input>

                <app-custom-select class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" formControlName="status"
                    [tabIndex]="2" [informativoCampo]="'Este campo é obrigatório'" [titulo]="'Status'" #inputStatus
                    [disabledGroup]="dadosPesquisa.controls['status'].disabled" [options]="geraOptionsStatus()"
                    [errors]="dadosPesquisa.controls['status'].errors" [id]="'status'"
                    [valido]="!(dadosPesquisa.controls['status'].touched && dadosPesquisa.controls['status'].invalid)">
                </app-custom-select>


                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao_pesquisa_container">
                    <button [tabIndex]="3" class="botao_pesquisa" (click)="limpaFormulariosEmpresa()" type="button">
                        LIMPAR FILTROS
                    </button>

                    <button [tabIndex]="4" class="botao_pesquisa" (click)="realizaPesquisaEmpresas()" type="submit">
                        PESQUISAR
                    </button>
                </div>

            </form>

        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_container_listagem">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_listagem">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block cabecalho_block_listagem">
                <h4 class="titulo_bloco">
                    Minhas empresas
                </h4>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_opcoes_tabela">
                <button class="botao_cria_empresa">
                    ADICIONAR EMPRESA
                </button>
                <!-- <ul class="lista_paginacao">
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao">
                            < </p>
                    </li>
                    <li class="item_paginacao item_paginacao_ativo">
                        <p class="texto_paginacao">
                            1
                        </p>
                    </li>
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao">
                            >
                        </p>
                    </li>
                </ul> -->
                <ul *ngIf="empresaPageResponse != undefined" class="lista_paginacao">
                    <li (click)="voltarPagina()"
                        [ngClass]="{'item_paginacao_desabilitado': empresaPageResponse.pageNumber == 0}"
                        class="item_paginacao">
                        <p class="texto_paginacao">
                            < </p>
                    </li>
                    <ng-container
                        *ngFor="let numero of geraNumerosParaNavegarNaPaginacao(empresaPageResponse.totalPages); let i = index">
                        <li *ngIf="(empresaPageResponse.pageNumber - i) <= 3 && (empresaPageResponse.pageNumber - i) >= 0
                            || (i - empresaPageResponse.pageNumber) <= 3 && (i - empresaPageResponse.pageNumber) >= 0
                            || empresaPageResponse.pageNumber == 0 && (i - empresaPageResponse.pageNumber) <= 6 && (i - empresaPageResponse.pageNumber) >= 0
                            || empresaPageResponse.pageNumber == 1 && (i - empresaPageResponse.pageNumber) <= 5 && (i - empresaPageResponse.pageNumber) >= 0
                            || empresaPageResponse.pageNumber == 2 && (i - empresaPageResponse.pageNumber) <= 4 && (i - empresaPageResponse.pageNumber) >= 0
                            || (empresaPageResponse.pageNumber == (empresaPageResponse.totalPages-1)) && (empresaPageResponse.pageNumber - i) <= 6
                            || (empresaPageResponse.pageNumber == (empresaPageResponse.totalPages-2)) && (empresaPageResponse.pageNumber - i) <= 5
                            || (empresaPageResponse.pageNumber == (empresaPageResponse.totalPages-3)) && (empresaPageResponse.pageNumber - i) <= 4"
                            (click)="selecionarPagina(i)"
                            [ngClass]="{'item_paginacao_ativo': empresaPageResponse.pageNumber == i}"
                            class="item_paginacao">
                            <p class="texto_paginacao">{{ i+1 }}</p>
                        </li>
                    </ng-container>
                    <li (click)="avancarPagina()"
                        [ngClass]="{'item_paginacao_desabilitado': empresaPageResponse.pageNumber == empresaPageResponse.totalPages-1}"
                        class="item_paginacao">
                        <p class="texto_paginacao">
                            >
                        </p>
                    </li>
                </ul>
            </div>

            <table class="table table-borderless table-hover">

                <thead>

                    <tr>

                        <th class="align-middle">
                            Nome
                        </th>

                        <th scope="col" class="align-middle">
                            Nome Fantasia
                        </th>

                        <th scope="col" class="align-middle">
                            CPF/CNPJ
                        </th>

                        <th scope="col" class="align-middle">
                            Status
                        </th>

                        <th scope="col" class="align-middle">
                            Certificado
                        </th>

                        <th scope="col" class="align-middle">
                        </th>

                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let empresa of empresaPageResponse?.content">
                        <td class="align-middle">
                            <span>
                                {{ empresa.razaoSocial }}
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                {{ empresa.nomeFantasia }}
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                {{ empresa.cnpj }}
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                {{ empresa.ativa }}
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                Válido
                            </span>
                        </td>

                        <th scope="row" class="content_acoes align-middle">
                            <div class="icon_container">
                                <mat-icon fontIcon="more_vert"
                                    class="icone icone_tabela icone_tabela_remove dropdown dropleft float-right"
                                    data-toggle="dropdown"></mat-icon>
                                <div class="dropdown-menu">
                                    <a class="row dropdown-item">
                                        <mat-icon fontIcon="info" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            Detalhes
                                        </div>
                                    </a>
                                    <a class="dropdown-item">
                                        <mat-icon fontIcon="settings" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            Editar
                                        </div>
                                    </a>

                                    <a class="dropdown-item dropdown-item-excluir">
                                        <mat-icon fontIcon="delete" class="option_icon option_icon-excluir"></mat-icon>
                                        <div class="dropdown-item-text dropdown-item-text-excluir">
                                            Excluir
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </th>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>