@import '../../../../../../dist/variables.scss';

h1,
h2,
h3,
h4,
p,
div,
header,
footer,
app-custom-input,
app-custom-select,
painel-footer,
painel-sidebar,
painel-header,
button,
ul,
li,
i,
h5,
form,
img {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    color: $dark-white;
}

.block_container {
    border-radius: 3px;
}

.block_container_pesquisa {
    height: 12rem;
    margin-bottom: 1rem;
}

.block_container_listagem {
    height: calc(100% - 13rem);
}

.block {
    height: 100%;
    background-color: $light-black;
    border-radius: 3px;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.block_pesquisa {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.block_listagem {
    overflow-y: auto;
    height: auto;
}

.block_listagem_vazia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.titulo_listagem_vazia {
    text-align: center;
    font-family: $font-poppins;
    margin: 0.5rem 0;
    color: $dark-white;
    font-weight: 500;
}

.imagem_listagem_vazia {
    width: 7rem;
    height: 7rem;
}

.botao_listagem_vazia {
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: pointer;
}

.botao_listagem_vazia:focus {
    outline: none;
    border: 1px solid $primary-color-dark;
    color: $primary-color-dark;
}

.botao_listagem_vazia:hover {
    transition: 0.8s;
    color: $medium-black;
    background-color: $primary-color;
}

.cabecalho_block {
    display: flex;
    justify-content: space-between;
}

.titulo_bloco {
    font-weight: 500;
    color: $dark-white;
    font-size: 1rem;
}

.titulo_bloco_pesquisa {
    padding-left: 0.5rem;
}

.form {
    margin-top: 0.5rem;
}

.botao_pesquisa_container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: right;
    padding-right: 0.5rem;
}

.botao_pesquisa {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

.botao_pesquisa:focus {
    outline: none;
    border: 1px solid $primary-color-dark;
    color: $primary-color-dark;
}

.botao_pesquisa:hover {
    transition: 0.8s;
    color: $medium-black;
    background-color: $primary-color;
}

.container_utilitarios_tabela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.block_opcoes_tabela {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.botao_cria_empresa {
    display: flex;
    align-items: center;
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

.botao_cria_empresa:hover {
    transition: 0.8s;
    color: $medium-black;
    background-color: $primary-color;
}

.botao_cria_empresa:focus {
    outline: none;
}

.lista_paginacao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
}

.item_paginacao {
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-left: 0.5rem;
    padding: 0rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.item_paginacao_ativo {
    color: $medium-black;
    background-color: $primary-color;
}

.item_paginacao_desabilitado {
    border: 1px solid $dark-grey;
    color: $dark-grey;
}

.texto_paginacao {
    font-family: $font-poppins;
    font-size: 0.8rem;
}

table {
    margin-top: 0.5rem;
    border: 1px solid $medium-black;
}

thead {
    background-color: $medium-black;
}

th,
td {
    padding: 0.6rem;
}

th {
    font-weight: 500;
    font-size: 0.8rem;
}

td {
    font-weight: 400;
    font-size: 0.7rem;
}

.icone_tabela {
    color: $primary-color;
    cursor: pointer;
}

span {
    font-family: $font-poppins;
    border-radius: 3px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.empresa_ativa {
    padding: 0.2rem 1rem;
    border: 1px solid $success;
    color: $success;
}

.empresa_inativa {
    padding: 0.2rem 1rem;
    border: 1px solid $error;
    color: $error;
}

.dropdown-menu {
    padding: 0.5rem 0;
}

.dropdown-menu,
.dropdown-item {
    background-color: $light-black !important;
}

.dropdown-item {
    margin: 0;
    display: flex;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.dropdown-item .mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 0.5rem;
    color: $dark-white;
}

.dropdown-item-text {
    color: $dark-white;
    font-family: $font-poppins;
    font-size: 0.9rem;
    padding: 0;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.dropdown-item:hover>.option_icon,
.dropdown-item:hover>.dropdown-item-text {
    color: $primary-color !important;
    transition: 0.2s;
}

.dropdown-item-excluir:hover>.option_icon-excluir,
.dropdown-item-excluir:hover>.dropdown-item-text-excluir {
    color: $strong-red !important;
    transition: 0.2s;
}

/* width */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-white;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    box-shadow: inset 0 0 2px $dark-black;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark;
}