@use '../../../../../dist/variables.scss';
@use '../../../../../dist/reset.scss';
@use '../styles/custom-inputs.scss';

input[type=text],
input[type=password] {
    height: 100%;
}

.input_invalida:focus {
    border: 1px solid variables.$strong-red !important;
    outline: none;
}