@use '../../../../../../dist/variables';
@use '../../../../../../dist/mixins';
@use '../../../../../../dist/reset';
@use '../../../../../../dist/components/custom-scrollbar';

@include mixins.pulseAnimation(0.98, 1);

.container {
    @include mixins.centerContent();
    color: variables.$dark-white;
    height: 100%;

    .block-container {
        @include mixins.centerContent();
        border-radius: 3px;
        margin-bottom: 1rem;
        padding: 0 0.5rem;
        height: 5rem;
    }
}

.block-container-content {
    padding: 0 0.5rem;
    height: calc(100% - 6rem);
}

.block {
    @include mixins.centerContent();
    border-radius: 3px;
    padding: 1.5rem;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: variables.$medium-black;

    &:hover {
        animation: pulse 1.5s infinite;
    }

    &:focus {
        outline: none;
    }

    h1 {
        @include mixins.textConfiguration(0, 0, 0.8rem, variables.$font-poppins, variables.$medium-grey, 500);
        text-align: center;
    }

    &-active {
        border: 1px solid variables.$primary-color;
        background-color: variables.$transparent-primary-color;

        h1 {
            color: variables.$light-grey;
        }
    }

    &-content {
        height: 100%;
        background-color: variables.$light-black;
        border-radius: 3px;
        padding: 0;
        border: none;
        overflow-y: auto;
    }
}