<header class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="logo_container">
        <img class="img_logo" src="../../../../../../assets/8.png">
    </div>

    <div class="menu_container">
        <ul class="lista_itens_menu col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <li class="item_menu">
                <mat-icon class="menu_icon">notifications</mat-icon>
            </li>
            <li class="item_menu">
                <mat-icon class="menu_icon">logout</mat-icon>
            </li>
        </ul>
    </div>

</header>