@use '../../../../../../dist/mixins';
@use '../../../../../../dist/variables.scss';
@use '../../../../../../dist/reset.scss';

.container_planos {
    @include mixins.centerContent();
    @include mixins.notSelectableContent();
    cursor: pointer;

    .bloco_plano {
        padding: 0 0.5rem;
        @include mixins.centerContent();
        margin-bottom: 1rem;

        .subbloco_plano {
            background-color: variables.$dark-black;
            border: 1px solid variables.$dark-grey;
            border-radius: 3px;
            padding: 0.5rem 1rem;

            .titulo_plano {
                @include mixins.textConfiguration(0.5rem 0 0 0, 0, 1rem, variables.$font-roboto, variables.$medium-white, 400);
            }

            .descricao_plano {
                @include mixins.textConfiguration(0.5rem 0, 0, 0.8rem, variables.$font-roboto, variables.$light-grey, 400);
            }

            .preco_plano_valor {
                @include mixins.textConfiguration(0, 0, 0.9rem, variables.$font-roboto, variables.$medium-white, 400);
            }

            .periodicidade_plano {
                @include mixins.textConfiguration(0 0 0 0.3rem, 0, 0.8rem, variables.$font-roboto, variables.$light-grey, 400);
                @include mixins.centerContent();
            }

            .lista_vantagens_plano {
                list-style-type: none;
                margin-top: 0.5rem;

                &_item {
                    display: flex;
                    align-items: baseline;
                    padding: 0.2rem 0;
                    color: variables.$medium-white;

                    .fa-check-square {
                        margin-right: 0.5rem;
                        color: variables.$primary-color;
                    }

                    .fa-minus-square {
                        margin-right: 0.5rem;
                        color: variables.$light-grey;
                    }
                }
            }

            &:hover {
                background-color: variables.$medium-dark-black;
            }

            &_ativo {
                border: 1px solid variables.$primary-color;
            }
        }
    }

}

.form_button_container {
    padding: 0 0.5rem;
    margin-top: -1rem;

    .botao {
        @include mixins.standartButton();
    }
}