@use '../../../../../../dist/variables';
@use '../../../../../../dist/reset';
@use '../../../../../../dist/mixins';
@use '../../../../../../dist/components/custom-scrollbar';
@use '../../../../../../dist/components/tabela';
@use '../../../../../../dist/components/indice-paginacao';

.container {
    height: 100%;
    color: variables.$dark-white;

    .block-container-informativo {
        height: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-bottom: 1rem;
        padding: 0 0.5rem;

        .block-informativo {
            height: 100%;
            background-color: variables.$light-black;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 1rem;

            &-titulo {
                font-size: 1rem;
                font-weight: 500;
                color: variables.$primary-color;
                text-align: center;
                font-family: variables.$font-poppins;

                hr {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0.4rem;
                    border-color: variables.$darker-grey;
                }
            }

            .container_responsavel_contrato,
            .container_valor_plano,
            .container_plano_atual {
                @include mixins.centerContent();
            }

            .titulo_plano_atual,
            .texto_plano_atual,
            .titulo_valor_plano,
            .texto_valor_plano,
            .titulo_responsavel_contrato,
            .texto_responsavel_contrato {
                margin: 0 0.1rem;
            }

            .titulo_responsavel_contrato,
            .texto_responsavel_contrato,
            .texto_status_plano,
            .texto_valor_plano,
            .titulo_valor_plano {
                font-size: 0.7rem;
                color: variables.$light-grey;
                margin-top: -0.3rem;
            }

            p {
                text-align: center;
                font-size: 0.8rem;
                font-family: variables.$font-poppins;
                color: variables.$light-white;
            }

            .botao-informativo {
                @include mixins.buttonConfiguration(-0.2rem 0 0 0,
                    0.2rem,
                    none,
                    3px,
                    variables.$primary-color,
                    variables.$medium-black,
                    none,
                    variables.$medium-black,
                    variables.$primary-color,
                    none,
                    variables.$medium-black,
                    variables.$primary-color-dark,
                    0.9rem,
                    variables.$font-poppins,
                    500);
            }
        }
    }

    .block-tabela {
        height: calc(100% - 10rem);
        border-radius: 3px;
        margin-bottom: 1rem;
        padding: 0 0.5rem;

        .block-tabela-conteudo {
            height: auto;
            max-height: 100%;
            overflow-y: auto;
            background-color: variables.$light-black;
            border-radius: 3px;
            padding: 1.5rem 2rem;

            .tabela-container-titulo {
                display: flex;
                justify-content: space-between;

                .tabela_titulo {
                    @include mixins.textConfiguration(0, 0, 1rem, variables.$font-roboto, variables.$dark-white, 500);
                }
            }

            .container-paginacao-tabela {
                display: flex;
                justify-content: right;
                margin-top: 1rem;
            }
        }
    }
}