<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container" [@fadeInOut]>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 block_container block_informativo_container">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_informativo">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_informativo_titulo">
                Status do contrato
                <hr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            </h3>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_status_contrato">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 texto_informativo texto_status_contrato">
                    Ativo
                </p>
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_responsavel_contrato">
                    <p class="titulo_responsavel_contrato">Responsável: </p>
                    <p class="texto_responsavel_contrato">Gabriel Lagrota</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 button_container">
                <button class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao botao_informativo">
                    Botão
                </button>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 block_container block_informativo_container">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_informativo">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_informativo_titulo">
                Última fatura
                <hr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            </h3>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_data_vencimento_ultima_fatura">
                    <p class="texto_data_ultima_fatura">08/12/2023</p>
                    <p class="texto_status_plano">Pendente</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 button_container">
                <button class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao botao_informativo">
                    Visualizar
                </button>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 block_container block_informativo_container">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_informativo">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_informativo_titulo">
                Configurações
                <hr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            </h3>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_plano_atual">
                    <p class="titulo_plano_atual">Plano atual: </p>
                    <p class="texto_plano_atual">Standart</p>
                </div>
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_valor_plano">
                    <p class="titulo_valor_plano">Valor: </p>
                    <p class="texto_valor_plano">R$ 650,00</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 button_container">
                <button class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao botao_informativo">
                    Alterar
                </button>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_container block_tabela_container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8 block block_listagem">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cabecalho_block cabecalho_block_listagem">
                <h4 class="titulo_bloco">
                    Minhas faturas
                </h4>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_opcoes_tabela">
                <ul class="lista_paginacao">
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao texto_paginacao_desabilitado">
                            < </p>
                    </li>
                    <li class="item_paginacao item_paginacao_ativo">
                        <p class="texto_paginacao texto_paginacao_ativo">
                            1
                        </p>
                    </li>
                    <li class="item_paginacao item_paginacao_desabilitado">
                        <p class="texto_paginacao texto_paginacao_desabilitado">
                            >
                        </p>
                    </li>
                </ul>
            </div>

            <table class="table table-borderless table-hover">

                <thead>

                    <tr>

                        <th class="align-middle">
                            Vencimento
                        </th>

                        <th scope="col" class="align-middle">
                            Valor
                        </th>

                        <th scope="col" class="align-middle">
                            Status
                        </th>

                        <th scope="col" class="align-middle">
                            NF
                        </th>

                        <th scope="col" class="align-middle">
                        </th>

                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td class="align-middle">
                            <span>
                                08/12/2023
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                R$ 650,00
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                PAGO
                            </span>
                        </td>

                        <td class="align-middle">
                            <span>
                                20224
                            </span>
                        </td>

                        <th scope="row" class="content_acoes align-middle">
                            <div class="icon_container">
                                <mat-icon fontIcon="more_vert"
                                    class="icone icone_tabela icone_tabela_remove dropdown dropleft float-right"
                                    data-toggle="dropdown"></mat-icon>
                                <div class="dropdown-menu">
                                    <a class="row dropdown-item">
                                        <mat-icon fontIcon="error" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            Contestar
                                        </div>
                                    </a>
                                    <a class="dropdown-item">
                                        <mat-icon fontIcon="event_note" class="option_icon"></mat-icon>
                                        <div class="dropdown-item-text">
                                            2° Via
                                        </div>
                                    </a>

                                    <a class="dropdown-item dropdown-item-excluir">
                                        <mat-icon fontIcon="visibility" class="option_icon option_icon-excluir"></mat-icon>
                                        <div class="dropdown-item-text dropdown-item-text-excluir">
                                            Detalhes
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </th>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>

</div>