<footer class="container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ul class="lista-footer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <li class="lista-footer-item">
            <i class="bi bi-facebook footer_icon"></i>
        </li>
        <li class="lista-footer-item">
            <i class="bi bi-github footer_icon"></i>
        </li>
        <li class="lista-footer-item">
            <i class="bi bi-instagram footer_icon"></i>
        </li>
    </ul>
    <h5 class="descricao_footer">
        Akadion Solutions - Copyright 2023
    </h5>
</footer>