<footer class="container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ul class="lista_itens_footer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <li class="item_footer">
            <mat-icon class="footer_icon">check_box_outline_blank</mat-icon>
        </li>
        <li class="item_footer">
            <mat-icon class="footer_icon">check_box_outline_blank</mat-icon>
        </li>
        <li class="item_footer">
            <mat-icon class="footer_icon">check_box_outline_blank</mat-icon>
        </li>
    </ul>
    <h5 class="descricao_footer">
        Akadion Solutions - Copyright 2023
    </h5>
</footer>