@import '../../../../../../dist/variables.scss';

h1,
h2,
h3,
h4,
h5, 
h6
p,
div,
header, 
footer,
app-custom-input,
button,
ul,
li,
i,
h5,
form,
img {
    margin: 0;
    padding: 0;
}

.container {
    color: $dark-white;
    background-color: $light-black;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $dark-grey;
}

.lista_itens_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.item_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem;
}

.descricao_footer {
    text-align: center;
    color: $primary-color;
    margin-top: -1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

::ng-deep .footer_icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
    font-size: 1.5rem !important;
    color: $primary-color !important;
    cursor: pointer;
}

::ng-deep .footer_icon:hover {
    color: $primary-color-dark !important;
}