@use '../../../../../../dist/variables';
@use '../../../../../../dist/mixins';
@use '../../../../../../dist/reset';


.container {
    @include mixins.centerContent();
    @include mixins.notSelectableContent();
    cursor: pointer;
    padding: 1.5rem 1rem;

    .informativo {
        padding: 0 0.5rem;
        margin-bottom: 1rem;

        &-titulo {
            @include mixins.textConfiguration(0, 0, 1rem, variables.$font-poppins, variables.$primary-color, 500);
        }

        &-texto {
            @include mixins.textConfiguration(0, 0, 0.8rem, variables.$font-poppins, variables.$light-grey, 400);
        }
    }

    .card-plano {
        @include mixins.centerContent();
        padding: 0 0.5rem;
        margin-bottom: 1rem;

        .subcard-plano {
            background-color: variables.$dark-black;
            border: 1px solid variables.$dark-grey;
            border-radius: 3px;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: variables.$medium-dark-black;
            }

            &:focus {
                outline: none;
            }

            &-ativo {
                border: 1px solid variables.$primary-color;
            }

            .titulo-plano {
                @include mixins.textConfiguration(0.5rem 0 0 0, 0, 1rem, variables.$font-roboto, variables.$medium-white, 400);
            }

            .descricao-plano {
                @include mixins.textConfiguration(0.5rem 0 0.5rem 0, 0, 0.8rem, variables.$font-roboto, variables.$light-grey, 400);
            }

            .preco-plano {
                &-valor {
                    @include mixins.textConfiguration(0, 0, 0.9rem, variables.$font-roboto, variables.$medium-white, 400);
                    color: variables.$medium-white;
                    font-size: 0.9rem;
                    font-weight: 400;
                }

                &-periodicidade {
                    @include mixins.textConfiguration(0 0 0 0.3rem, 0, 0.8rem, variables.$font-roboto, variables.$light-grey, 400);
                    display: flex;
                    align-items: center;
                }
            }

            .lista-vantagens-plano {
                list-style-type: none;
                margin-top: 0.5rem;

                &-item {
                    display: flex;
                    align-items: baseline;
                    color: variables.$medium-white;
                    padding: 0.2rem 0;

                    .fa-check-square {
                        margin-right: 0.5rem;
                        color: variables.$primary-color;
                    }

                    .fa-minus-square {
                        margin-right: 0.5rem;
                        color: variables.$light-grey;
                    }
                }
            }
        }
    }

    .form-button-container {
        padding: 0 0.5rem;

        .botao {
            @include mixins.standartButton(0);
        }
    }
}