<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo">
        <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo-titulo">
            Alterar plano
        </h3>
        <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo-texto">
            Seu plano atual é o <b>Plano Pro</b>. Caso deseje alterar seu plano, o novo plano estará ativo após o
            próximo pagamento no dia <b>15/12/2023</b>
        </p>
    </div>

    <!-- PLANO BASIC -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 card-plano">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 subcard-plano" tabindex="1"
            (click)="mudaPlano('BASIC')" (focus)="mudaPlano('BASIC')"
            [ngClass]="{'subcard-plano-ativo': verificaSeTipoDePlanoCorrespondeAoBloco('BASIC')}">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo-plano">
                Plano Basic
            </h3>
            <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 descricao-plano">
                Plano para micro empresas que buscam um gerenciamento completo de seus recursos
            </p>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 preco-plano">
                <h3 class="preco-plano-valor">
                    R$ 250
                </h3>
                <h4 class="preco-plano-periodicidade">
                    por mês
                </h4>
            </div>
            <ul class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano">
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Limite de 1 empresa cadastrada</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Limite de 30 notas fiscais emitidas por mês</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Até 3 colaboradores cadastrados por empresa</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Todos os módulos liberados</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Envio de e-mails pós-vendas</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Recurso de relatório em PDF</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">E-mail marketing</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Suporte VIP</h5>
                </li>
            </ul>
        </div>
    </div>

    <!-- PLANO STANDART -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 card-plano">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 subcard-plano" tabindex="2"
            (click)="mudaPlano('STANDART')" (focus)="mudaPlano('STANDART')"
            [ngClass]="{'subcard-plano-ativo': verificaSeTipoDePlanoCorrespondeAoBloco('STANDART')}">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo-plano">
                Plano Standart
            </h3>
            <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 descricao-plano">
                Plano para micro empresas que buscam um gerenciamento completo de seus recursos
            </p>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 preco-plano">
                <h3 class="preco-plano-valor">
                    R$ 400
                </h3>
                <h4 class="preco-plano-periodicidade">
                    por mês
                </h4>
            </div>
            <ul class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano">
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Limite de 3 empresas ou filiais cadastradas</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Limite de 120 notas fiscais emitidas por mês</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Cadastro de colaboradores ilimitado</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Todos os módulos liberados</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Envio de e-mails pós-vendas</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Recurso de relatório em PDF</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">E-mail marketing</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-minus-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Suporte VIP</h5>
                </li>
            </ul>
        </div>
    </div>

    <!-- PLANO PRO -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 card-plano">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 subcard-plano" tabindex="3"
            (click)="mudaPlano('PRO')" (focus)="mudaPlano('PRO')"
            [ngClass]="{'subcard-plano-ativo': verificaSeTipoDePlanoCorrespondeAoBloco('PRO')}">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo-plano">
                Plano Pro
            </h3>
            <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 descricao-plano">
                Plano para micro empresas que buscam um gerenciamento completo de seus recursos
            </p>
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 preco-plano">
                <h3 class="preco-plano-valor">
                    R$ 650
                </h3>
                <h4 class="preco-plano-periodicidade">
                    por mês
                </h4>
            </div>
            <ul class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano">
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Limite de 5 empresas ou filiais cadastradas</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Emissão de notas fiscais ilimitada</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Cadastro de colaboradores ilimitado</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Todos os módulos liberados</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Envio de e-mails pós-vendas</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Recurso de relatório em PDF</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">E-mail marketing</h5>
                </li>
                <li class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 lista-vantagens-plano-item">
                    <i class="fa fa-check-square imagem_vantagem_plano"></i>
                    <h5 class="texto_vantagem_plano">Suporte VIP</h5>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-button-container">
        <button class="botao" [tabIndex]="4" mat-button>
            <a>
                Alterar plano
            </a>
        </button>
    </div>

</div>