@import '../../../../../dist/variables.scss';
@import '../../../../../dist/custom-stepper.scss';
@import '../../../../../dist/reset.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $dark-grey;
    padding: 0.5rem 0;
}

.header_logo_img {
    width: 3rem;
    animation: rotation 0.5s linear;
}

.header_logo_img_in {
    animation: rotation 1s linear;
}

.container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
}

.titulo {
    font-family: $font-poppins;
    color: $dark-white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 0.5rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.texto {
    color: $light-grey;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@keyframes pulse {

    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}